.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

.map-container {
  height: 100vh;
  width: 100%;
}

.feature-data-display {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0 16px;
  background: #5fb25f;
}

.clicked-coord-label p {
  margin: 10px;
}